$max-width: 960px;

.main,
.footer {
  -webkit-transition: margin-left 150ms ease;
  transition: margin-left 150ms ease;
  margin-left: 0;
}

header {
 padding: 0 0 0 20px;
}

header nav {
  padding-left: 0;
  .nav-right {
    float: right;
  }
}

nav {
  font-family: $sans-light;
  background-color: $white;
  height: 4em;
  padding: 20px 20px 20px 16%;
  z-index: 10;
  .main-sidebar-inner {
    margin: 0 20px;
  }
}

.masthead {
  background-color: $berry;
  height: 15em;
}

.mast-contents {
  max-width: $max-width;
  margin: 0 auto;
  padding: 35px 0 0;
}

.mast-logo {
  vertical-align: middle;
}

.article-block {
  padding: 20px;
  border-bottom: 1px solid $border-grey;
}

  article:last-child {
    border-bottom: 0px
  }

.article-contents {
  max-width: $max-width;
  margin: 0 auto;
  padding-bottom:40px;
}
