.main-sidebar {
  -webkit-transition: width 150ms ease;
  transition: width 150ms ease;
  background-color: $white;
  border: 1px solid $border-grey;
  width: 23%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow-y: scroll;
  font-size: 14px;
  .toc_section {
    padding-left: 15px;
    list-style-type: none;
  }
}

#simple-menu, .close {
  position: fixed;
  top: 15px;
}
#simple-menu {
  top: 20px;
  left: 20px;
}
.close {
  position: fixed;
  top: 10px;
  left: 10px;
}

.sidr-open {
  width: 77% !important;
}

.sidr-open .hamburger-menu, .sidr-animating .hamburger-menu {
  display: none;
}
