.main-sidebar {
  -webkit-transition: width 150ms ease;
  transition: width 150ms ease;
  background-color: $white;
  border: 1px solid $border-grey;
  width: 16.25em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow-y: scroll;
}

#simple-menu, .close {
  position: fixed;
  top: 15;
}
#simple-menu {
  left: 20;
}
.close {
  left: 10;
}
