body {
  font-family: Arial, sans-serif;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $fill-grey;
  margin: 1em 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px
}

p {
  color: $type-grey;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 10px;
}

pre {
  display: inline-block;
  background-color: #F1F1F1;
  width: 100%;
  min-height: 35px;
  border: 1px solid $border-grey;
  border-radius: 3px;
  padding: 8px 12px;
  text-align: left;
  margin: 15px 0 15px 0;
  color: $charcoal;
  font-size: .875rem;
  -webkit-box-shadow: 0px 3px 2px #f7f7f7 inset;
  -moz-box-shadow: 0px 3px 2px #f7f7f7 inset;
  box-shadow: 0px 3px 2px #f7f7f7 inset;
}

h1, h2, h3 {
  font-family: $sans-light;
  letter-spacing: -.05rem;
}

h2, h3 {
  color: darken($type-grey, 20%);
}

.headline {
  color: $white;
  font-family: $sans-light;
  font-size: 2.375em;
  font-weight: 100;
  margin: 0;
}

.header {
  color: $berry;
  font-family: $sans-light;
  font-size: 1.75rem;
  font-weight: normal;
}

.sub-head {
  font-family: $sans-regular;
  font-size: .95em;
  margin: 0;
  color: $dark-berry;
}

.nav-link {
  font-family: $sans-light;
  font-size: 1.125em;
  font-weight: normal;
}

// article content

.title {
  color: $berry;
  margin-bottom: 15px;
}

ul {
  list-style-type: square;
}
